@model ICollection<ShopForEverything.Models.ShowAllFavoriteUserStocksServiceViewModel>

<div class="container-fluid">
    <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">search</button>
    </form>
</div>

@{
    ViewData["Title"] = "ShowAllStocks";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}



<h1>My Favorite Stocks</h1>
<br />
<br />

<div class="row">
    @foreach (var item in Model)
    {

        <div class="card text-white bg-dark mb-3" style="max-width: 20rem; margin-right:7em">
            <div class="card-header">@item.Name</div>
            <div class="card-body">
                <h4 class="card-title">@item.Price</h4>
                <p class="card-text">@item.Description</p>
                <a href="~/Images/@item.Picture" style="float:right">
                    <img src="~/Images/@item.Picture" width="80" height="80">
                </a>
                <button type="button" class="btn btn-outline-success">
                    <a asp-controller="Everything" asp-action="MyFavoriteStockDetails" asp-route-id="@item.Id">
                        Details
                    </a>
                </button>
                <button type="button" class="btn btn-outline-warning">
                    <a asp-controller="Everything" asp-action="RemoveFromMyFavorite" asp-route-id="@item.Id">RemoveFromFavorite</a>
                </button>
                <button type="button" class="btn btn-outline-info">Buy</button>

            </div>

        </div>
    }
</div>

<partial name="_pagerMyFavoriteStock" model="@pager" />