@model DetailsMyStockServiceViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>
    Title: @Model.Name
</h1>

<article>
    <section>
        <p>Color: @Model.Color</p>
        <p>Size: @Model.Size</p>
        <p>Price: @Model.Price</p>
        <p>DFescription: @Model.Description</p>
        <p>StockNumber: @Model.StockNumber</p>
    </section>
    <img src="/Images/@Model.Picture" alt="This is Radku" width="500px" height="500px" />
</article>

<script src="~/js/site.js" asp-append-version="true"></script>
