@model ShowStockDetailsServiceViewModel

@{
    ViewData["Title"] = "My Stock Details";
}
<h1>My Stock Details</h1>

<article>
    <p>@Model.Name</p>
    <p>@Model.Price</p>
    <p>@Model.Color</p>
    <p>@Model.Description</p>
    <p>@Model.Size</p>
    <p>@Model.Picture</p>
    <p>@Model.AddedFromUser</p>
    <p>@Model.StockNumber</p>
</article>